body {
	font-family: Brandon Grotesque, "brandon-grotesque", Fallback !important;
	background-color: #FE8B52;
	margin: 0;
}

h1 {
	text-align: center;
}

#title {

}

#quiz {
	text-indent: 10px;
	display: none;
}

#header {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	z-index: 100;
	background-color: #fff;
}

#logo {
	padding: 20px;
	padding-left: 50px;
}

#intro {
	width: 60%;
	margin: 0 auto;
	text-align: center;
}

.button {
	border: 4px #FE8B52 solid;
	border-radius: 15px;
	width: 75px;
	padding: 5px;
	position: relative;
	float: right;
	background-color: #FE8B52;
	color: #fff;
	font-size: 15px;
	margin: 0 2px 0 2px;
	text-align: center;
}

.button.active {
	background-color: #fff;
	border: 4px #FE8B52 solid;
}

button {
	position: relative;
	float: right;
	color: #fff;
}

.button a {
	text-decoration: none;
	color: #FFF;
}

.button.active a {
	color: #FE8B52;
}

#container {
	width: 50%;
	margin: auto;
	padding: 50px;
	padding-top: 25px;
	background-color: #fff;
	border-radius: 15px;
	color: #FE8B52;
	margin-top: 20px;
}

#qphoto {
	width: 50%;
}
.q {
	margin: 0 auto;
	padding: 10px;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
 #offer {
 	border: 4px #FE8B52 solid;
	border-radius: 15px;
	width: 45%;
	padding: 15px;
	position: absolute;
	float: right;
	background-color: #FE8B52;
	color: #fff;
	font-size: 15px;
	margin: 0 auto;
	text-align: center;
	display: block;
 }

#prev {
	display: none;
}

#start {
	display: none;
	width: 90px;
}